/*
====================================
------------------------------------
    1. GENERAL
    2. TYPOGRAPHY
    3. BUTTON STYLE
    4. IMAGES
    5. SECTION TITLE 
    6. NAVIGATION
    7. HOME
    8. MOUSE ANIMATE
    9. PROFILE-CONTACT
    10. ABOUT
    11. RESUME
    12. SKILLS
    13. PROJECTS
    14. CONTACT
    15. FOOTER
-------------------------------------
=====================================
*/

/* === GENERAL === */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 300;
    font-size: 14px;
    color: #282828;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
}

body,
html {
    overflow-x: hidden;
}

a {
    color: #68c3a3;
}

a,
a>* {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

a:focus,
a:hover {
    outline: none;
    color: #333333;
    text-decoration: none;
}

.navbar a,
.form-control {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

a,
.btn {
    -webkit-transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    transition: all 0.125s ease-in-out 0s;
}

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* === TYPOGRAPHY === */

h1,
h2,
h3,
h4,
h6 {
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
    line-height: 36px;
}

h2 {
    font-size: 30px;
    line-height: 30px;
}

h3 {
    font-size: 24px;
    line-height: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font: 400 25px/1.2 'Impact', fantasy, sans-serif;
    margin-top: -35px;
    margin-bottom: 20px;
    margin-left: 60px;
    color: #222;
}

h6 {
    font-size: 12px;
}

/* === BUTTON STYLE === */

.btn {
    border: 0;
    border-bottom: 3px solid;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    padding: 9px 22px;
}

.btn-lg,
.btn-group-lg>.btn {
    padding: 14px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.btn-primary {
    background-color: #68c3a3;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #4eb28f;
    border-color: #4eb28f;
}

.btn-info {
    background-color: #52b3d9;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #4aa0c2;
    border-color: #4aa0c2;
}

.btn-default {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    color: #68c3a3;
    background-color: #fff;
    border-color: #fff;
}

button:focus {
    outline: none;
}

/* === IMAGES === */

img {
    width: 100%;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.no-padding {
    padding: 0;
}

/* === SECTION TITLE === */

.section-padding {
    padding: 40px 0 40px;
}

.icon {
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    color: #2c3e50;
    position: relative;
}

.facts-section {
    background: url(../../assets/images/counter-bg.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

.tt-overlay-bg {
    background: rgba(26, 30, 35, 0.85);
    padding: 50px;
}

.tt-over h1 {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 70px;
    line-height: 50px;
    margin-bottom: 10px;
    color: #68c3a3;
}

.tt-over .icon {
    color: #68c3a3;
    margin-bottom: 10px;
}

/* === NAVIGATION === */

.header {
    border-bottom: 1px solid #eee;
    position: relative;
    width: 100%;
    z-index: 998;
    padding-bottom: 1px;
    background: #fff;
}

.header::after {
    border-bottom: 1px solid #eee;
    width: 100%;
    position: absolute;
    content: "";
    height: 2px;
    bottom: 1px;
    left: 0;
}

.navbar {
    background: none;
    border-radius: 0;
    border: 0;
    padding: 20px 0;
    text-transform: uppercase;
    color: #FFF !important;
}

.navbar-custom {
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-custom,
.navbar-custom .dropdown-menu {
    background: #fff;
    padding: 0;
}

.navbar-custom ul li a span {
    margin-left: 5px;
}

.navbar-custom .dropdown-menu {
    margin-top: 10px;
    display: block;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #ddd;
    border-top: 2px solid #68c3a3;
    border-radius: 0;
    border-bottom: 3px double #ddd;
    background-color: #FFFFFF;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}

.navbar-custom .navbar-nav>li:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-top: -2px;
}

.navbar-custom .navbar-nav>li>a {
    color: #282828;
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.navbar-custom .dropdown-menu>li {
    border-bottom: 1px solid #F0F0F0;
}

.navbar-custom .dropdown-menu>li:last-child {
    border-bottom: 0;
}

.navbar-custom .dropdown-menu>li>a {
    padding: 10px 20px;
    color: #282828;
    font-size: 14px;
    font-weight: 700;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav>li.active>a {
    background: none;
    outline: 0;
    color: #68c3a3;
}

.navbar-custom .navbar-brand {
    font-weight: 1000;
    font-size: 26px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

.navbar-custom .nav .open>a,
.navbar-custom .dropdown-menu>li>a:hover,
.navbar-custom .dropdown-menu>li>a:focus {
    background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #222;
}

/* === HOME === */

@media (max-width: 640px) {
    .tt-fullHeight {
        height: 560px !important;
    }
}

#home {
    background: url(../images/computer.jpeg) no-repeat center center;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
    background-color: #222;
    background-size: cover;
    padding: 0;
    position: relative;
}

#home:before {
    content: "";
    background-color: rgba(26, 30, 35, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    padding: 0 15px;
}

.intro h1 {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 16px;
    color: #52b3d9;
}

.intro h1 span {
    color: #68c3a3;
}

.intro p {
    color: #f7f7f7;
    font-size: 30px;
    font-weight: 600;
}

.intro-sub {
    color: #f7f7f7;
    font-size: 30px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typed-cursor {
    opacity: 0;
    display: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* === MOUSE ANIMATE === */

.mouse-icon {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid #fff;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -17px;
    display: block;
    z-index: 10;
}

.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: #fff;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}

@keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}

/* === PROFILE-CONTACT === */

#profile-contact {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 20px 0;
    margin-bottom: -150px;
}

.profile-item i {
    display: block;
    line-height: 42px;
    font-size: 32px;
    color: #222;
}

.social-icons {}

.social-icons a i {
    position: relative;
    color: black;
    font-size: 18px;
    margin: 0 185px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
}

.social-icons a i:hover {
    color: white;
}

.social-icons a i::before {
    position: relative;
    z-index: 1;
}

.social-icons a i::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    background: #FEFEFE;
}

.social-icons a i:hover::after {
    background: #000000;
    border: 1px solid transparent;
    z-index: 0;
}

@media (max-width: 767px) {
    .wrapper {
        text-align: left;
    }
    #profile-contact .profile-item {
        margin: 0 0 20px;
    }
    #stats .stat {
        margin: 0 0 20px;
    }
}

/* === ABOUT === */

.about-section {
    margin-top: 115px;
}

.short-info {
    margin-bottom: 40px;
}

.short-info h3 {
    color: #2c3e50;
    margin-bottom: 30px;
    margin-top: 50px;
}

.download-button a {
    margin-right: 20px;
    color: #fff;
}

.download-button a i {
    margin-right: 10px;
}

.biography {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #EEEEEE;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    margin-top: 50px;
}

.biography::after {
    content: "";
    border-bottom: 1px solid #EEEEEE;
    position: absolute;
    bottom: -3px;
    width: 100%;
    border-radius: 10px;
    height: 20px;
}

.myphoto {
    position: relative;
}

.myphoto img {
    position: relative;
    z-index: -1;
}

.biography ul {
    padding: 25px 20px 30px;
}

.biography ul li {
    padding: 5px 0;
    font-size: 16px;
    border-bottom: 2px solid #EEEEEE;
}

.biography ul li:last-child {
    border-bottom: 0;
}

blockquote {
    display: block;
    font-size: 22px;
    position: relative;
    padding-left: 90px;
    color: #2c3e50;
    border-color: #2c3e50;
}

blockquote:before {
    content: "\f10d";
    font-size: 55px;
    font-family: FontAwesome;
    position: absolute;
    top: -4px;
    left: 20px;
}

blockquote span:before {
    content: '--';
    padding: 0 10px 0 0;
}

blockquote span {
    padding: 10px 0;
    display: block;
    font-size: 16px;
    color: #999;
}

/* === RESUME === */

#resume {
    background-color: #ffffff;
}

.blocgauche {
    margin-left: -50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.blocgauche.col-xs-12.col-sm-12 {
    margin-left: 0;
    margin-right: 0;
}

.blocgauche h2,
.blocgauche h3 {
    text-align: left;
    color: #2c3e50;
}

.blocdroite {
    margin-left: 50px;
    margin-right: -50px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.blocdroite.col-xs-12.col-sm-12 {
    margin-left: 0;
    margin-right: 0;
}

.trait {
    margin-top: 75px;
    padding: 0px;
    text-align: center;
    color: #2c3e50;
}

.contenu {
    width: 80%;
    border-left: none !important;
}

.blocgauche.border {
    border-left: 5px solid #eee;
    border-color: #2c3e50;
}

.blocdroite.border {
    border-right: 5px solid #eee;
    border-color: #2c3e50;
}

.blocdroite h2,
.blocdroite h3 {
    text-align: right;
    color: #2c3e50;
}

.services-item {
    background: #f2f4ff;
    padding: 30px 20px 20px;
    margin: 15px 0;
    position: relative;
    color: #fff;
    overflow: hidden;
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}

.services-item h4 {
    color: #2c3e50;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 23px;
    font-weight: 600;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.services-item p {
    padding: 0;
    margin: 0;
    color: #2c3e50;
    font-size: 20px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.services-item i {
    color: #2c3e50;
    padding: 0;
    margin: 0 0 10px 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.services-item:hover {
    background: #2c3e50;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

.services-item:hover h4 {
    color: #fff;
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.services-item:hover p {
    color: #fff;
    transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.services-item:hover i {
    color: #fff;
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.services-item:hover:before {
    border-color: #fff #fff #a5a5a5 #a5a5a5;
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}

.services-item:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 30px 30px 0;
    border-style: solid;
    border-color: #fff #fff #2c3e50 #2c3e50;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
    /* Firefox 3.0 damage limitation */
    display: block;
    width: 0;
}

@media (max-device-width: 769) and (max-width: 992) {
    .resume .blocgauche {
        margin: 0px !important;
    }
    .resume .contenu {
        width: 80%;
        border-left: none !important;
    }
    h2 .blocgauche .blocdroite {
        text-align: center;
    }
}

/* === SKILLS === */

.skills-section {
    color: #2c3e50;
}

.skill-title {
    width: 25%;
    float: left;
}

.skill-title h3 {
    font-size: 19px;
    font-weight: 450;
    margin-top: -6px;
    text-transform: capitalize;
    margin-right: 15px;
}

.texte-center {
    margin-top: 20px;
}

/* progress-bar */

.skill-progress {
    position: relative;
}

.progress {
    height: 13px;
    margin-bottom: 40px;
    background-color: #3a4149;
    border-radius: 3px;
    box-shadow: none;
    width: 75%;
    margin-top: 30px;
}

.progress-bar {
    background-color: #68c3d3;
}

.progress-bar span {
    position: absolute;
    top: -20px;
    right: 15px;
    font-size: 12px;
    font-weight: 700;
}

.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
}

.chart {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
    margin: 40px auto;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    margin: auto;
    line-height: 140px;
    z-index: 2;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.percent:after {
    content: '%';
}

.chart-text span {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    display: block;
    margin-top: 20px;
}

.angular {
    margin-top: 100px;
}

.angular .chart {
    margin-top: 0;
}

.chart .chart-text h3 {
    font-size: 22px;
}

.blocgauche1 {
    margin-left: -50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 60px;
}

.blocgauche1.col-xs-12.col-sm-12 {
    margin-left: 0;
    margin-right: 0;
}

.blocgauche1 h2,
.blocgauche1 h3 {
    text-align: left;
    color: #2c3e50;
}

.blocdroite1.col-xs-12.col-sm-12 {
    margin-left: 0;
    margin-right: 0;
}

.blocgauche1.border {
    border-left: 5px solid #eee;
    border-color: #2c3e50;
}

.blocdroite1 {
    margin-left: 50px;
    margin-right: -50px;
    margin-top: 70px;
    margin-bottom: 60px;
}

.blocdroite1.border {
    border-right: 5px solid #eee;
    border-color: #2c3e50;
}

.blocdroite1 h2,
.blocdroite1 h3 {
    text-align: right;
    color: #2c3e50;
}

.skill-chart h3 {
    font-size: 30px;
}

.blocmilieu.col-xs-12.col-sm-12 {
    margin-top: 15px;
}

.blocmilieu.border {
    border-top: 5px solid #eee;
    border-color: #2c3e50;
}

.blocmilieu h2,
.blocmilieu h3 {
    text-align: center;
    color: #2c3e50;
}

.texte-center span {
    color: #2c3e50;
}

/* === PROJECTS === */

.latest-blog-section {}

.blog-post-wrapper {
    padding: 4px;
    border: 1px solid #eee;
    border-bottom: 3px double #eee;
    margin-top: 50px;
}

.figure {
    position: relative;
}

.figure i {
    position: absolute;
    bottom: -8px;
    right: 30px;
    color: #fff;
    font-size: 18px;
    z-index: 100;
}

.figure i:after {
    position: absolute;
    content: "";
    left: -12px;
    top: -10px;
    width: 40px;
    height: 40px;
    background-color: #68c3a3;
    z-index: -1;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.post-thumbnail {
    margin-bottom: 20px;
    overflow: hidden;
}

.post-thumbnail img {
    opacity: 0.8;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.post-thumbnail img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.entry-header {
    padding: 0 12px;
}

.post-meta {}

.the-category a {
    font-size: 12px;
    line-height: 28px;
    font-weight: 300;
    text-transform: uppercase;
}

.entry-title {
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
}

.entry-title a {
    color: #282828;
}

.entry-title a:hover {
    color: #68c3a3;
}

/* === CONTACT === */

.contact-form {
    margin-top: 50px;
}

.contact-section strong {
    display: block;
    text-transform: uppercase;
}

.contact-form strong {
    margin-bottom: 40px;
}

.contact-form textarea.form-control {
    height: 115px;
}

.contact-form .btn {
    margin-top: 15px;
}

.logo {
    margin-top: 50px;
}

.logo div>i {
    float: left;
    font-size: 45px;
    margin-right: 20px;
}

.contact-section address,
.contact-section .contact-number {
    overflow: hidden;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 45px
}

.location-map {
    padding: 4px;
    border: 1px solid #eee;
    border-bottom: 3px double #eee;
}

.map-canvas {
    height: 300px;
}

.form-control {
    height: 45px;
    background-color: #f7f7f7;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: #68c3a3;
    box-shadow: none;
}

/* === FOOTER === */

.footer-wrapper {
    background: #1a1e23;
    padding: 36px 0;
    color: #fff;
}